@import "../../shared/variables.scss";

.create-post-page {
    min-height: 100vh;
    width: 100%;
    padding: var(--space-sm);
    display: flex;
    align-items: center;
    justify-content: center;

    .form-container {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    width: 100%;
    gap: var(--space-xl);

    form {
        display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    

    

    .post-image-label {
        background-color: var(--color-tertiary);
        color: var(--color-text-primary);
        padding-inline: 1rem;
        padding-block: .5rem;
        border-radius: .3rem;
    }
    }
}
}

